@using Microsoft.AspNetCore.Authentication
@using WebMvc.Controllers
@model IEnumerable<WeatherForecast>
@{
    ViewData["Title"] = "Protected";
}

<h2>Claims</h2>

<dl>
    @foreach (var claim in User.Claims)
    {
        <dt>@claim.Type</dt>
        <dd>@claim.Value</dd>
    }
</dl>

<h2>Properties</h2>

<dl>
    @foreach (var prop in (await Context.AuthenticateAsync()).Properties.Items)
    {
        <dt>@prop.Key</dt>
        <dd>@prop.Value</dd>
    }
</dl>

<h2>WeatherForecast</h2>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Date</th>
            <th scope="col">Temperatute C</th>
            <th scope="col">Temperatute F</th>
            <th scope="col">Summary</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th scope="row">@item.Date</th>
                <td>@item.TemperatureC</td>
                <td>@item.TemperatureF</td>
                <td>@item.Summary</td>
            </tr>
        }
    </tbody>
</table>